/* this css file will only style the homepage of our site */

.cat-photo {
  margin: 10px;
  max-width: 500px;
}
#my-portrait {
  width: 500px;
}

/*links (4 bottles)*/
#bottlelinks {
  position: relative;
  overflow: hidden;
}

.bottle {
  float: left;
  width: 23%;
  margin: 1% 1% 45px 1%;
}

.name {
  position: relative;
  text-align: center;
  bottom: 0px;
}

.bottle img{
  width: 100%;
  display: block;
}
