h1 {
    text-align: center;
    font-size: 144pt;
    font-family: 'Luckiest Guy';
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow:   0px -6px 0 #1947ba,  
                   0px -6px 0 #1947ba,
                   0px  6px 0 #1947ba,
                   0px  6px 0 #1947ba,
                  -6px  0px 0 #1947ba,  
                   6px  0px 0 #1947ba,
                  -6px  0px 0 #1947ba,
                   6px  0px 0 #1947ba,
                  -6px -6px 0 #1947ba,  
                   6px -6px 0 #1947ba,
                  -6px  6px 0 #1947ba,
                   6px  6px 0 #1947ba,
                  -6px  18px 0 #1947ba,
                   0px  18px 0 #1947ba,
                   6px  18px 0 #1947ba,
                   0 19px 1px rgba(0,0,0,.1),
                   0 0 6px rgba(0,0,0,.1),
                   0 6px 3px rgba(0,0,0,.3),
                   0 12px 6px rgba(0,0,0,.2),
                   0 18px 18px rgba(0,0,0,.25),
                   0 24px 24px rgba(0,0,0,.2),
                   0 36px 36px rgba(0,0,0,.15);
    margin: 25px;
  }

/* links */
a:link { text-decoration: none; 
  color: #1947ba;}
  a:visited { text-decoration: none; 
  color: #1947ba;}
  a:hover { text-decoration: none;
    color: gray; }
#titleblock {
padding: 10px;
margin-bottom: 10px;
background-color: none;
}

.nutritionbody {
  margin: 1rem;
  padding: 2rem 15rem;
  text-align: center;
}

.child {
  display: inline-block;
  padding: 1rem 10rem;
  vertical-align: middle;
}

#nutritionfacts{
  scale: 1.5;
  align-self: left;
  margin-left: 15rem;
}
#content {
  margin: 10px;
  padding: 10px;
  background-color:  #f78f1f;
  background-image: url(https://cdn.dribbble.com/users/230520/screenshots/2905507/media/d010d6f7d9d6a3ce9de4f88aba7dd891.gif);
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  background:rgb(255, 145, 0, 0.5);
}
main{
  color: white;
  text-align: center; 
}

h2{
  size:300%;
  color:#1947ba;
}

#ourproducts{
  background-color: white;
  padding: 25px;
}

h3, #random-box{
  font-size: 110%;
}
h4{
  color: #f78f1f  ;
}