/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
h1{
    text-align: center;
    font-size: 144pt;
    font: 'Futura TS XBold';
    font-style: bold;
    color: #db0a40;
    margin: 50px;
  }

#titleblock {
padding: 10px;
margin-bottom: 10px;
background-color: #ffffff;
}

#content{
  background-color: white;
}

body {
  background-color: #000000;
}

.nutritionbody {
  margin: 1rem;
  padding: 2rem 15rem;
  text-align: center;
}

.child {
  display: inline-block;
  padding: 1rem 10rem;
  vertical-align: middle;
}

#nutritionfacts{
  scale: 1.5;
  align-self: left;
  margin-left: 15rem;
}

a,
a:visited,
a:active,
h1,
h3,
#linktitle, 
p {
  color: #d70000;
  text-decoration: none;
}

a {
	font-variant: small-caps;
}

a:hover,
a:focus {
  color: #ffffff;
  font-weight: 800;
}

strong {
  font-weight: bold;
}

.intro-block {
  width: 100vw;
  text-align: center;
  padding-top: 20px;
}

.intro-block .monitor {
  border: 2px solid #0f3a4d;
  padding: 0;
  max-width: 500px;
  border-radius: 5px;
  background-color: #0b0e13;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}

.intro-block svg {
	max-width: 470px;
	margin-left: 20px;
  margin-right: 20px;
	position: relative;
	transition: all 0.5s ease-in-out;
}

.intro-block svg .ekg {
	fill: none;
	stroke: #d70000;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: miter;
	opacity: 0;
	stroke-dashoffset: 1000;
	stroke-dasharray: 1000;
	animation: ekg 1.5s linear forwards infinite;
}





@keyframes ekg {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    50% {
      stroke-dashoffset: 2000;
    }
    99% {
      opacity: 0;
      stroke-dashoffset: 3000;
    }
    100% {
      stroke-dashoffset: 1000;
    }
}
