/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
h1{
    text-align: center;
    font-size: 144pt;
    font: 'Futura';
    font-style: bold;
    color: #fff;
    margin: 50px;
  }